* {
  box-sizing: border-box;
}

:root {
  --background-color-text1: rgb(122, 18, 20);
  --background-colortext-hed: rgb(51, 51, 51);
  --white-color: white;
  --red-but-color: rgb(107, 28, 28);
  --color-text: rgb(85, 85, 85);
}

.padding6 {
  padding-top: 130px;
}

.main-header,
.text-header,
.text-header__second {
  font-family: Sabon ET W03 Roman, Garamond, serif;
  font-size: 3.8rem;
  word-wrap: break-word;
  font-weight: 400;
  line-height: 1.15;
  margin-top: 20px;
  margin-bottom: 10px;
}

.wrraper-text {
  font-size: 1.2rem;
  padding-top: 15px;
}

.text-header {
  font-size: 2.4rem;
}

.text,
.text-second {
  margin: 0 0 10px;
}

.color-text {
  color: var(--color-text);
}

.text-header__second {
  font-size: 1.6rem;
}

.margin-main {
  margin: 5%;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.content-div {
  display: flex;
  flex-direction: column;
  width: 33.33%;
  padding: 10px;
}

.blok-item {
  flex-basis: 66.66%;
}

.dec-none {
  text-decoration: none;
}

.cont {
  align-self: center;
  height: 260px;
  width: 100%;
}

.pos-relat1 {
  position: relative;
  top: 0;
}

.img-hight6 {
  height: 260px;
  width: 100%;
  object-fit: cover;
  max-width: 100%;
}

.pos-abs1 {
  position: absolute;
  top: 15px;
  left: 15px;
}

.text1 {
  padding: 5px;
  color: var(--white-color);
  text-align: center;
  background-color: var(--background-color-text1);
}

.text-hed {
  background-color: var(--background-colortext-hed);
  font-size: 0.5em;
  height: 52px;
  width: 100%;
  color: var(--white-color);
  text-align: center;
}

.color-icon1 {
  color: var(--white-color);
}

@media only screen and (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .content div {
    width: 100%;
  }
}